.error404 .flexia-wrapper.flexia-container {
	padding: 0;
	max-width: none;
	width: 100%;
}
.error404 .flexia-wrapper.flexia-container > .content-area {
	margin: 0;
}
.error-404.not-found, .search-no-results .not-found  {
	max-width: 700px;
	margin: 3em auto 5em;
	padding: 1em;
	display: block;
	p {
		text-align: center;
		font-size: 1.2em;
		margin: 3em auto;
	}
}
.error-404 {
	.error-404-image{
		display: flex;
		justify-content: center;
		padding: 15px;
		svg{
			width: 100%;
			max-width: 450px;
		}
	}
	.search-form {
		display: flex;
		justify-content: center;
		align-items: center;
		.search-field {
			width: 100%;
			border: 1px solid #f1f1f1;
			padding: 1em;
		}
		.search-submit {
			background-color: #3c3c3c;
			width: 50px;
			border: none;
			flex: 0 0 5em;
			font-size: 1em;
			border: 1px solid transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: stretch;
			svg{
				width: 28px;
				fill: #fff;
			}
		}
	}
}